@font-face {
  font-family: 'Quark-Light';
  src: url('../fonts/Quark-Light.otf');
}

@font-face {
  font-family: 'Quark-Bold';
  src: url('../fonts/Quark-Bold.otf');
}

@font-face {
  font-family: 'Aquawax-Black';
  src: url('../fonts/Aquawax-Black.ttf');
}

body{
  margin: 0;
  padding: 0;
}

@import "navbar";

.container-fluid{
  padding: 0;
}

#sec-1{
  height: 80vh;
  background-image: url(../images/farol.png);
  background-repeat: no-repeat;
  background-size: 100%;

}

.topo{
  height: 90px;
  background-image: url(../images/barra.png);
  background-repeat: no-repeat;
  background-size: 100%;
  h2{
    margin: 0;
    padding: 20px 0px 10px 0px;
    color: #b59d62;
  }
}

#sec-2{
  min-height: 100vh;
  background-color:#0c192e;
  p{
    color: white;
  }
  #images-container{
    text-align: center;
    img{
      padding: 10px;
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }
  
}

#sec-3{
  min-height: 100vh;

}
#sec-4{
  min-height: 100vh;

}
#sec-5{
  min-height: 100vh;

}
#sec-6{
    min-height: 100vh;

}
#sec-7{
    min-height: 100vh;

}
